table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
    width: auto;
    height: auto;
  }

  .TableRow {
    width: 100%;
    border-collapse: collapse;
    &__Id{
        min-width: 2em;
    }
    &__Image{
        min-width: 3em;
    }
    &__Name{
        min-width: 4em;
    }
    &__Email{
        min-width: 4em;

    }
    &__Mobile{
        min-width: 4em;

    }
    &__Designation{
        min-width: 3em;
    }
    &__Gender{
        min-width: 1em;
    }
    &__Course{
        min-width: 2em;
    }
    &__Date{
        min-width: 3em;
    }
    &__Action{
        min-width: 5em;
    }
  }
  