.navbar {
  background-color: #333;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__list,
.navbar__leftList {
  display: flex;
  list-style: none;
}

.navbar__item {
  margin-right: 10px; /* Add some space between the items */
}
.navbar__item a {
  color: #fff;
  text-decoration: none;
}
